<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Home App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" ios="exit-outline" md="exit-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title size="large">Home App</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" ios="exit-outline" md="exit-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-text color="medium" class="welcome-message">
    <p style="text-align: center;">Selamat datang, {{ nama }}</p>
  </ion-text>
</ion-content>
